<% layout("/layouts/boilerplate.ejs") %>


<div class="admin_signup_wrapper">

    <div class="admin_signup_card">
        <h1 class="admin_title">Admin Signup</h1>

        <form action="/admin/signup" method="POST" class="admin_form">

            <div class="admin_field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter username" required />
            </div>

            <div class="admin_field">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter email" required />
            </div>

            <div class="admin_field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter password" required />
            </div>

            <div class="admin_field">
                <label>Secret Code</label>
                <input type="password" name="secretCode" placeholder="Enter admin code" required />
            </div>

            <button type="submit" class="admin_btn">Create Admin</button>

        </form>
    </div>

</div>