<% layout("/layouts/boilerplate.ejs") %>

<div class="container">
    <h1>A room without books<br>
    is like a body without a soul.<br>
    Every page turned<br>
    is a step into another world<br>
</h1>
    <img class="home_img" src="/images/library.jpg" alt="library"/>
</div>