<% layout("/layouts/boilerplate.ejs") %>

<div class="home-section">
    <h1 class="home-title">
        A room without books<br>
        is like a body without a soul.<br>
        Every page turned<br>
        is a step into another world
    </h1>

    <img class="home-image" src="/images/library.jpg" alt="library"/>
</div>