<div class="library-nav">
    <a class="nav-home" href="/">Home</a>
    <a class="nav-all" href="/books">All Books</a>
    <a class="nav-new" href="/books/new">Add new Book</a>
    <% if(!currentUser){ %>
        <a class="nav-all icon1" href="/signup">SignUp</a>
        <a class="nav-all icon2" href="/login">Login</a>
    <% } %>
    <% if(currentUser) { %>
        <a class="nav-new"><i class="fa-solid fa-basket-shopping"></i> Your Cart</a>
        <a class="nav-new" href="/wishlist"><i class="fa-regular fa-heart"></i> WishList</a>
        <a class="nav-all icon3" href="/logout">Logout</a>
        <a class="nav-all icon4" href="/profile"> <i class="fa-regular fa-user"></i> Profile</a>
    <% } %>
    
</div>