<div class="Container">
    <div class="nav">
        <a class="home" href="/">Home</a>
        <a class="all" href="/books">All Books</a>
        <a class="Bnew" href="/books/new">Add new Book</a>
    </div>
</div>