*{
    background-color: #F5EFE6;
}

/*Nav bar*/
a{
    text-decoration: none;
    color: white;
}

.nav a{
    background-color: #4B2E2B;
}

.nav{
    display:flex;
    gap:20px;
    padding:10px;
    background-color: #4B2E2B;
    height: 50px;
    width: 700px;
    margin-left: 100px;
    border-radius: 1rem;
}

.home{
    margin-left:10px;
    margin-top:13px;
}

.Bnew{
    margin-top:13px;
}

.all{
    margin-top:13px;
}

/* Index page */
.card{
    background-color: #8B6F47;
    width:250px;
    height:350px;
    border-radius: 16px;
    padding:10px;
}

.card p {
    background-color: #8B6F47;
}

.img_book{
    width:200px;
    height:200px;
}

.container1{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.head{
    background-color: #8B6F47;
    font-weight: 1000;
}