*{
    background-color: #F5EFE6;
}

/*Nav bar*/
a{
    text-decoration: none;
    color: white;
}

.nav a{
    background-color: #4B2E2B;
}

.nav{
    display:flex;
    gap:20px;
    padding:10px;
    background-color: #4B2E2B;
    height: 50px;
    width: 700px;
    margin-left: 100px;
    border-radius: 1rem;
}

.home{
    margin-left:10px;
    margin-top:13px;
}

.Bnew{
    margin-top:13px;
}

.all{
    margin-top:13px;
}

/* Index page */
.card{
    background-color: #8B6F47;
    width:275px;
    height:350px;
    border-radius: 16px;
    padding:10px;
    text-align: center;
}

.card p {
    background-color: #8B6F47;
    color: white;
    font-size:large;
}

.img_book{
    width:200px;
    height:200px;
    border-radius: 10px;
}

.container1{
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
    margin-left:50px;
    margin-top: 20px;
}

.head{
    background-color:#8B6F47;
    color: white;
    font-weight: 1000;
    font-size: larger;
}

/*show Page*/
.show_card{
    margin-top:30px;
    margin-left: 100px;
}

.show_img{
    width:400px;
    height:400px;
    border-radius: 10px;
}

.show_btn{
    background-color:#4B2E2B;
    color:#F5EFE6;
    border:none;
    padding:8px 14px;
    border-radius:6px;
    cursor:pointer;
    margin-bottom: 10px;
}

.del_btn{
    background-color:#4B2E2B;
    color:#F5EFE6;
    border:none;
    padding:8px 14px;
    border-radius:6px;
    cursor:pointer;
}

.show_btn:hover{
    background-color:#3a2220;
}

.del_btn:hover{
    background-color:#3a2220;
}

.show_container{
    display: flex;
}

.show_desc{
    background-color: #E8DFC9;
    margin-left: 250px;
    border-radius: 10px;
    margin-top:30px;
    height:400px;
    width:500px;
    padding:10px
}

.show_desc p {
    background-color: #E8DFC9;
}

.show_desc h3 {
    background-color: #E8DFC9;
}